@inject NavigationManager Navigation
@inject AgendamentoService AgendamentoService
@inject AuthenticationStateProvider AuthenticationStateProvider

<div class="calendario @HeightClass" style="user-select: none;">
    <div class="calendario-height">
        <div class="header">
            <span class="weight-600" style="font-size: 1.25rem; color: var(--white);">@(char.ToUpper(DataAtual.ToString("MMM", new System.Globalization.CultureInfo("pt-BR")).Replace(".", "")[0]) + DataAtual.ToString("MMM yyyy", new System.Globalization.CultureInfo("pt-BR")).Replace(".", "").Substring(1))</span>
            <div>
                <svg @onclick="() => MudarMes(-1)" style="cursor: pointer;" width="1.5rem" height="1.5rem" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M15 18L9 12L15 6" stroke="#FAF9F6" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
                <svg @onclick="() => MudarMes(1)" style="cursor: pointer;" width="1.5rem" height="1.5rem" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M9 18L15 12L9 6" stroke="#FAF9F6" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
            </div>
        </div>
        <div class="horizontal-bar"></div>
        <div class="nomes-dias">
            @foreach (var nome in NomesDiasSemana)
            {
                <div class="nome-dia weight-600">@nome</div>
            }
        </div>
        @foreach (var semana in Semanas)
        {
            <div class="semana">
                @foreach (var dia in semana)
                {
                    var classeDia = (dia.DayOfWeek == DayOfWeek.Saturday || dia.DayOfWeek == DayOfWeek.Sunday)
                        ? (dia.Month == DataAtual.Month ? "dia sab-dom" : "dia outro-mes sab-dom")
                        : (dia.Month == DataAtual.Month ? "dia mes-atual" : "dia outro-mes");
                    if (dia.Date == DateTime.Today)
                    {
                        classeDia += " dia-hoje"; // Adiciona a classe "dia-hoje"
                    }

                    foreach(var compromisso in compromissos){
                        if(dia.Date == compromisso.Data){
                            classeDia += " dia-compromisso";
                        }
                    }
        
                    <div class="@classeDia weight-600">
                        @dia.Day
                    </div>
                }
            </div>
        }
    </div>

    <div class="horizontal-bar final-calendario"></div>

    @if (Navigation.ToBaseRelativePath(Navigation.Uri) == "inicio")
    {
    <div class="agendar-relatar">
        <svg width="1.5rem" height="1.5rem" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M19 4H5C3.89543 4 3 4.89543 3 6V20C3 21.1046 3.89543 22 5 22H19C20.1046 22 21 21.1046 21 20V6C21 4.89543 20.1046 4 19 4Z" stroke="#FAF9F6" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M16 2V6" stroke="#FAF9F6" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M8 2V6" stroke="#FAF9F6" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M3 10H21" stroke="#FAF9F6" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M8 14H8.01" stroke="#FAF9F6" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M12 14H12.01" stroke="#FAF9F6" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M16 14H16.01" stroke="#FAF9F6" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M8 18H8.01" stroke="#FAF9F6" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M12 18H12.01" stroke="#FAF9F6" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M16 18H16.01" stroke="#FAF9F6" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>

        <svg width="1.5rem" height="1.5rem" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M12 2C6.47715 2 2 6.47715 2 12C2 17.5228 6.47715 22 12 22C17.5228 22 22 17.5228 22 12C22 6.47715 17.5228 2 12 2Z" stroke="#FAF9F6" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M12 16V12" stroke="#FAF9F6" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M12 8H11.99" stroke="#FAF9F6" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
    </div>
    } else if(Navigation.ToBaseRelativePath(Navigation.Uri) == "agenda")
    {
        @if(compromissos != null){
            @for (int i = 0; i < Math.Min(compromissos.Count, 4); i++)
            {
                var cor= "";
                @if(compromissos[i].Servico == "Psicóloga" || compromissos[i].Servico == "Psicólogo" || compromissos[i].Servico == "Psicóloga(o)" || compromissos[i].Servico == "Psicólogo(a)"){
                    cor = "#F884D7";
                } else if(compromissos[i].Servico == "Pedagoga" || compromissos[i].Servico == "Pedagogo" || compromissos[i].Servico == "Pedagoga(o)" || compromissos[i].Servico == "Pedagogo(a)"){
                    cor = "#95BBF8";
                } else if(compromissos[i].Servico == "Nutricionista"){
                    cor = "#D6F894";
                } else if(compromissos[i].Servico == "Educador Físico" || compromissos[i].Servico == "Educadora Física"){
                    cor = "#F6C4AF";
                }
                <div>
                    @if (DataCompromisso.Date != compromissos[i].Data.Date)
                    {
                        Console.WriteLine(DataCompromisso.Date);
                        DataCompromisso = compromissos[i].Data;
                        <h1 class="weight-700" style="color: var(--white); font-size: 1rem; margin: 0; padding-top: 10px;">@ObterTituloData(DataCompromisso)</h1>
                        <span class="weight-500" style="font-size: 0.75rem; color: var(--black-gray);">@DataCompromisso.ToString("dd/MM/yyyy")</span>
                    }
                    <div style="padding: 15px;">
                        <span style="display: flex; align-items: center; font-size: 0.688rem; color: var(--white);">
                            <div style="width: 0.75rem; height: 0.75rem; background-color: @cor; border-radius: 50%; padding-top: 10px; margin-right: 10px;"></div>
                            @(($"{(@compromissos[i].HoraInicio.Hours % 12):D2}:{@compromissos[i].HoraInicio.Minutes:D2} {( @compromissos[i].HoraInicio.Hours >= 12 ? "PM" : "AM") }")) - @(($"{(@compromissos[i].HoraFim.Hours % 12):D2}:{@compromissos[i].HoraFim.Minutes:D2} {( @compromissos[i].HoraFim.Hours >= 12 ? "PM" : "AM") }"))
                        </span>
                        <span style="font-size: 0.75rem; padding-left: 0.75rem; margin-left: 10px; color: var(--black-gray);">@compromissos[i].Servico - @compromissos[i].Profissional_Nome</span>
                    </div>
                </div>
            }

        }
    }

    
</div>

@code {
    private DateTime DataAtual { get; set; } = DateTime.Today;
    private DateTime DataCompromisso { get; set; }

    private List<List<DateTime>> Semanas { get; set; } = new();
    private List<string> NomesDiasSemana { get; set; } = new() { "D", "S", "T", "Q", "Q", "S", "S" };
    private string HeightClass { get; set; } = "";

    private List<CompromissoModel> compromissos;

    protected override async Task OnInitializedAsync()
    {

        int userId = await ((CustomAuthStateProvider)AuthenticationStateProvider).GetUserIdFromLocalStorage();
        if(userId != -1){
            compromissos = await AgendamentoService.GetCompromissosDiscente(userId);
        }

        DataCompromisso = compromissos[0].Data.AddDays(-1);
        
        GerarCalendario(DataAtual);
        var relativePath = Navigation.ToBaseRelativePath(Navigation.Uri);
        if (relativePath == "inicio")
        {
            HeightClass = "";
        } else{
            HeightClass = "calendario-services-height";
        }
    }

    private void GerarCalendario(DateTime date)
    {
        Semanas.Clear();
        var primeiroDiaDoMes = new DateTime(date.Year, date.Month, 1);
        var diasNoMes = DateTime.DaysInMonth(date.Year, date.Month);
        var primeiroDiaDaSemana = (int)primeiroDiaDoMes.DayOfWeek;

        var diaAtual = primeiroDiaDoMes.AddDays(-primeiroDiaDaSemana);
        int totalDias = diasNoMes + primeiroDiaDaSemana;
        int numeroDeSemanas = (int)Math.Ceiling(totalDias / 7.0);
        for (int i = 0; i < numeroDeSemanas; i++)
        {
            var semana = new List<DateTime>();
            for (int j = 0; j < 7; j++)
            {
                semana.Add(diaAtual);
                diaAtual = diaAtual.AddDays(1);
            }
            Semanas.Add(semana);
        }
    }

    private string ObterTituloData(DateTime data)
    {
        DateTime hoje = DateTime.Today;
        DateTime amanha = hoje.AddDays(1);

        if (data.Date == hoje)
            return "HOJE";
        else if (data.Date == amanha)
            return "AMANHÃ";
        else
            return data.ToString("dddd").ToUpper(); // Converte o dia da semana para maiúsculas

    }

    private void MudarMes(int meses)
    {
        DataAtual = DataAtual.AddMonths(meses);
        GerarCalendario(DataAtual);
    }
}

<style>
    .calendario {
        width: 19.063rem;
        position: relative;
        border: 1px solid #ddd;
        border-radius: 10px;
        padding: 20px;
        background: linear-gradient(334.3deg, #243E64 36.47%, #3B67A7 98.35%);
        box-shadow: 0px 4px 4px 0px #00000040;
    }

    .calendario-height{
        height: 25.5rem;
    }

    .calendario-services-height{
        min-height: 56.563rem;
    }

    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 10px;
    }

    .nomes-dias, .semana {
        display: grid;
        grid-template-columns: repeat(7, 1fr);
    }

    .nome-dia, .dia {
        text-align: center;
        padding: 2px;
        margin: 4px;
        color: var(--black-gray);
        font-size: 1.25rem;
    }

    .dia-hoje {
        background-color: var(--light-blue);
        border-radius: 50%;
        color: var(--blue-ufersa) !important;
    }

    .dia-compromisso {
        background-color: #D9D9D9;
        border-radius: 50%;
        color: var(--blue-ufersa) !important;
    }

    .mes-atual {
        color: var(--white);
    }

    .outro-mes {
        color: transparent !important;
        background-color: transparent !important;
    }

    .sab-dom {
        color: var(--black-gray); 
    }

    .agendar-relatar{
        width: 86%;
        position: absolute;
        bottom: 20px;
        text-align: right;
        align-content: end;
    }

    .final-calendario{
        width: 86%;
        position: absolute;
        top: 23rem;
        text-align: right;
        align-content: end;
    }

    .agendar-relatar > svg{
        margin: 0px 5px;
    }

</style>
